@{
    Layout = "_SiteLayout.cshtml";
    Page.Title = "Thanks";    

}
<section id="mainText">
    <div class="row">
        <div class="eight columns centered">
            <div class="row">
                <div class="panel">
                    <h3>Thank you for your booking</h3>
                    <h4>You should receive an confirmation email shortly</h4>
                    <hr />
                    <blockquote>
                        If you do not receive an email, then please check your email spam/junk filters.<br />
                        If you still cannot locate your confirmation email, then please contact the school on <a href="mailto:boxoffice@st-marys-shaftesbury.co.uk?Subject=Box Office Enquiry">boxoffice@st-marys-shaftesbury.co.uk</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
@section baseScript{

}