<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Booking" connectionString="server=SQL; database=Booking ;uid=User;pwd=Password" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <system.web>
    <!--<customerrors mode="off"/>-->
    <customErrors mode="RemoteOnly" defaultRedirect="404.html" />
    <compilation debug="false" targetFramework="4.0"/>
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>